micronaut:
  application:
    name: protobuf

datasources:
  default:
    url: jdbc:postgresql://localhost:5432/protobuf
    driverClassName: org.postgresql.Driver
    username: postgres
    password: postgres
    dialect: POSTGRES
#gera a tabela automaticamente banco de dados
jpa.default.properties.hibernate.hbm2ddl.auto: update
jpa.default.properties.hibernate.show_sql: true
jpa.default.properties.hibernate.format_sql: true
endpoints:
#configura endpoint portas e so acessa quem for autenticado
 # all:
 #   port: 8085
 #   sensitive: true

  health:
    enabled: true
    sensitive: false
    details-visible: ANONYMOUS

